smil30/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:its="http://www.w3.org/2005/11/its">
  <xs:import schemaLocation="SMIL.xsd"/>
  <xs:import namespace="http://www.w3.org/2005/11/its" schemaLocation="its.xsd"/>
  <xs:attribute name="id" type="xs:ID"/>
  <xs:attribute name="lang" type="LanguageCode.datatype"/>
  <xs:attribute name="base" type="URI.datatype"/>
  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="default"/>
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
