videos/project0/smil30/SMIL-link.mod.xsd.2

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- SMIL 3.0 Linking Module ============================================== -->
<!--
  file: SMIL-link.mod
  
  This is SMIL 3.0.
  
     Copyright: 1998-2008 W3C (MIT, ERCIM, Keio), All Rights
     Reserved.  See http://www.w3.org/Consortium/Legal/.
  
     Editor for SMIL 3.0: Sjoerd Mullender, CWI
     Editor for previous versions of SMIL: Jacco van Ossenbruggen,
     Lloyd Rutledge, Aaron Cohen, Sjoerd Mullender.
     $Revision: 1.10 $
     $Date: 2008/09/07 20:36:50 $
  
  This DTD module is identified by the PUBLIC and SYSTEM identifiers:
  
  PUBLIC "-//W3C//ELEMENTS SMIL 3.0 Linking//EN"
  SYSTEM "http://www.w3.org/2008/SMIL30/SMIL-link.mod"
  
  ======================================================================
-->
<!-- ======================== LinkingAttributes Entities ================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:its="http://www.w3.org/2005/11/its">
  <xs:import namespace="http://www.w3.org/2005/11/its" schemaLocation="its.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attributeGroup name="SMIL.linking-attrs">
    <xs:attribute name="sourceLevel" default="+0.0dB"/>
    <xs:attribute name="destinationLevel" default="+0.0dB"/>
    <xs:attribute name="sourcePlaystate">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="play"/>
          <xs:enumeration value="pause"/>
          <xs:enumeration value="stop"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="destinationPlaystate" default="play">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="play"/>
          <xs:enumeration value="pause"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="show" default="replace">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="new"/>
          <xs:enumeration value="pause"/>
          <xs:enumeration value="replace"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="accesskey" type="Character.datatype"/>
    <xs:attribute name="target"/>
    <xs:attribute name="external" default="false">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="actuate" default="onRequest">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="onRequest"/>
          <xs:enumeration value="onLoad"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="SMIL.tabindex.attrib"/>
  </xs:attributeGroup>
  <!-- ======================== ObjectLinking =============================== -->
  <xs:attributeGroup name="SMIL.Fragment">
    <xs:attribute name="fragment"/>
  </xs:attributeGroup>
  <!-- ========================= BasicLinking Elements ====================== -->
  <!-- ======================= BasicLinking Entities ====================== -->
  <xs:simpleType name="SMIL.Shape">
    <xs:restriction base="xs:token">
      <xs:enumeration value="rect"/>
      <xs:enumeration value="circle"/>
      <xs:enumeration value="poly"/>
      <xs:enumeration value="default"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SMIL.Coords">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <!-- comma separated list of lengths -->
  <xs:element name="a" substitutionGroup="SMIL.a-control"/>
  <xs:element name="area" substitutionGroup="SMIL.anchor-control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.area.content">
          <xs:attributeGroup ref="SMIL.area.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
          <xs:attributeGroup ref="SMIL.linking-attrs"/>
          <xs:attributeGroup ref="SMIL.Fragment"/>
          <xs:attribute name="shape" default="rect" type="SMIL.Shape"/>
          <xs:attribute name="coords" type="SMIL.Coords"/>
          <xs:attribute name="href" type="URI.datatype"/>
          <xs:attribute name="nohref">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="nohref"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anchor" substitutionGroup="SMIL.anchor-control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.anchor.content">
          <xs:attributeGroup ref="SMIL.anchor.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
          <xs:attributeGroup ref="SMIL.linking-attrs"/>
          <xs:attributeGroup ref="SMIL.Fragment"/>
          <xs:attribute name="shape" default="rect" type="SMIL.Shape"/>
          <xs:attribute name="coords" type="SMIL.Coords"/>
          <xs:attribute name="href" type="URI.datatype"/>
          <xs:attribute name="nohref">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="nohref"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- end of BasicLinking -->
<!-- end of SMIL-link.mod -->
