videos/project0/smil30/SMIL-struct.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- SMIL 3.0 Structure Module ============================================ -->
<!--
  file: SMIL-struct.mod
  
  This is SMIL 3.0.
  
     Copyright: 1998-2008 W3C (MIT, ERCIM, Keio), All Rights
     Reserved.  See http://www.w3.org/Consortium/Legal/.
  
     Editor for SMIL 3.0: Sjoerd Mullender, CWI
     Editor for previous versions of SMIL: Warner ten Kate,
     Jacco van Ossenbruggen, Sjoerd Mullender.
     $Revision: 1.6 $
     $Date: 2008/09/07 20:36:50 $
  
  This DTD module is identified by the PUBLIC and SYSTEM identifiers:
  
  PUBLIC "-//W3C//ELEMENTS SMIL 3.0 Document Structure//EN"
  SYSTEM "http://www.w3.org/2008/SMIL30/SMIL-struct.mod"
  
  ======================================================================
-->
<!-- ================== SMIL Document Root ============================== -->
<!--
  If smil: prefixes are used, we supply a default xmlns:smil attribute.
  If no prefix is used, we require an xmlns attribute instead.
  Note that the xmlns:smil attribute declaration is part of
  %SMIL.Core.attrib;.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:its="http://www.w3.org/2005/11/its">
  <xs:import namespace="http://www.w3.org/2005/11/its" schemaLocation="its.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="smil">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.smil.content">
          <xs:attributeGroup ref="SMIL.smil.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ================== The Document Head =============================== -->
  <xs:element name="head">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.head.content">
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- =================== The Document Body - Timing Root ================= -->
  <xs:element name="body">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.body.content">
          <xs:attributeGroup ref="SMIL.body.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- end of SMIL-struct.mod -->
