videos/project0/smil30/SMIL-timing.mod.xsd.2

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- SMIL 3.0 Timing and Synchronization Modules ========================== -->
<!--
  file: SMIL-timing.mod
  
  This is SMIL 3.0.
  
     Copyright: 1998-2008 W3C (MIT, ERCIM, Keio), All Rights
     Reserved.  See http://www.w3.org/Consortium/Legal/.
  
     Editor for SMIL 3.0: Sjoerd Mullender, CWI
     Editor for previous versions of SMIL: Jacco van Ossenbruggen,
     Sjoerd Mullender.
     $Revision: 1.7 $
     $Date: 2008/09/07 20:36:50 $
  
  This DTD module is identified by the PUBLIC and SYSTEM identifiers:
  
  PUBLIC "-//W3C//ELEMENTS SMIL 3.0 Timing//EN"
  SYSTEM "http://www.w3.org/2008/SMIL30/SMIL-timing.mod"
  
  ======================================================================
-->
<!-- ================== Timing Elements =================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:its="http://www.w3.org/2005/11/its">
  <xs:import namespace="http://www.w3.org/2005/11/its" schemaLocation="its.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="par" substitutionGroup="SMIL.BasicTimeContainers.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.par.content">
          <xs:attributeGroup ref="SMIL.par.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
          <xs:attributeGroup ref="SMIL.Description.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="seq" substitutionGroup="SMIL.BasicTimeContainers.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.seq.content">
          <xs:attributeGroup ref="SMIL.seq.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
          <xs:attributeGroup ref="SMIL.Description.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- End of BasicTimeContainers.module -->
  <xs:element name="excl" substitutionGroup="SMIL.ExclTimeContainers.class"/>
  <!-- End of BasicExclTimeContainers.module -->
  <xs:element name="priorityClass">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="SMIL.priorityClass.content">
          <xs:attributeGroup ref="SMIL.priorityClass.attrib"/>
          <xs:attribute name="peers" default="stop">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="stop"/>
                <xs:enumeration value="pause"/>
                <xs:enumeration value="defer"/>
                <xs:enumeration value="never"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="higher" default="pause">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="stop"/>
                <xs:enumeration value="pause"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="lower" default="defer">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="defer"/>
                <xs:enumeration value="never"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="pauseDisplay" default="show">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="disable"/>
                <xs:enumeration value="hide"/>
                <xs:enumeration value="show"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attributeGroup ref="SMIL.Description.attrib"/>
          <xs:attributeGroup ref="SMIL.Core.attrib"/>
          <xs:attributeGroup ref="SMIL.I18n.attrib"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- End of BasicPriorityClassContainers.module -->
<!-- end of SMIL-timing.mod -->
