src/app/frontend/flua/scrum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com/businessprocess/agile/scrum"
  xmlns:scrum="http://example.com/businessprocess/agile/scrum"
  xmlns:agile="http://example.com/businessprocess/agile"
  elementFormDefault="qualified">

  <xs:import namespace="http://example.com/businessprocess/agile" schemaLocation="agile.xsd" />

  <!-- The Scrum-specific process definition, extending the agile base type -->
  <xs:element name="ScrumProcess">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="agile:AgileProcessBaseType">
          <xs:sequence>
            <xs:element name="Sprint" type="scrum:SprintType" maxOccurs="unbounded" />
            <xs:element name="ProductBacklog" type="scrum:ProductBacklogType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SprintType">
    <xs:attribute name="number" type="xs:integer" use="required" />
    <xs:attribute name="duration" type="xs:duration" />
  </xs:complexType>

  <xs:complexType name="ProductBacklogType">
    <xs:sequence>
      <xs:element name="BacklogItem" type="agile:UserStoryType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>